ytd-topbar-logo-renderer #logo-icon,
ytd-topbar-logo-renderer #logo yt-icon {
  display: none !important;
}

ytd-topbar-logo-renderer #logo {
  background: url("https://raw.githubusercontent.com/trungskymedia230804/logo_ytb_premium/main/ytb_premium_white.png") no-repeat center center !important;
  background-size: contain !important;
  width: 120px !important;
  height: 35px !important;
  display: inline-block !important;
  cursor: pointer !important;
}
#country-code {
  display: none !important;

}
